---
interface Post {
  title: string;
  image: string;
  url: string;
  date: string;
}

const POSTS: Post[] = [
  {
    title: "Agents: a new level of abstraction in programming",
    image: "img/posts/5.webp",
    url: "https://www.linkedin.com/pulse/agents-nuevo-nivel-de-abstracci%2525C3%2525B3n-al-programar-gianfranco-lombardo",
    date: "2023-05-16",
  },
  {
    title: "Are you using ChatGPT correctly, though… 🤔 (Prompt engineering)",
    image: "img/posts/4.webp",
    url: "https://www.linkedin.com/pulse/estas-usando-bien-chatgpt-aun-que-prompt-engineering-lombardo",
    date: "2023-05-02",
  },
  {
    title: "Fundamental analysis with a click",
    image: "img/posts/3.webp",
    url: "https://www.linkedin.com/pulse/an%25C3%25A1lisis-fundamental-con-un-clic-gianfranco-lombardo",
    date: "2022-05-03",
  },
  {
    title: "3 simple steps to detect gender disparity",
    image: "img/posts/2.webp",
    url: "https://www.linkedin.com/pulse/3-simples-pasos-para-detectar-disparidad-de-los-sexos-lombardo",
    date: "2021-07-30",
  },
  {
    title: "Didactic and pedagogical content?",
    image: "img/posts/1.webp",
    url: "https://www.linkedin.com/pulse/1-es-rom%25C3%25A1ntico-gianfranco-lombardo",
    date: "2021-07-12",
  },
];
---

<section>
  <h2 class="text-center mb-5">Posts</h2>
  <div id="posts-container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
<!-- Posts -->

{
    POSTS.map((post) => (
        (
            <div class="col">
                <div class="card h-100 card-hover">
                        <img src={post.image} class="card-img-top" alt={post.title}>
                        <div class="card-body">
                            <h5 class="card-title">{post.title}</h5>
                        </div>
                        <div class="card-footer py-3 d-flex justify-content-between align-items-center">
                            <a href={post.url} class="btn btn-primary" target="_black" aria-label={`Read Post about ${post.title}`}>
                                <i class="bi bi-eye-fill"></i> Read Post
                            </a>
                            <p class="text-muted mb-0">{post.date}</p>
                        </div>
            </div>
        </div>
        )
    )
    )
}

    </div>
  </div>
</section>
